@font-face {
  font-family: 'Brandon Grotesque';
  src: url('assets/fonts/HvDTrial_Brandon_Grotesque_regular-BF64a625c9311e1.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, .container , div {
  font-family: 'Brandon Grotesque';
  font-size: 17px;
}



.dropdown-menu {
  background-color: rgb(212, 235, 38); /* Cambia el color de fondo de los submenús */
  color: rgb(0, 0, 0); /* Cambia el color del texto de los submenús */
}

/* Cambia el color de fondo de los submenús cuando se les hace hover */
.dropdown-menu a:hover {
  background-color: rgb(48, 97, 67); /* Color de fondo al hacer hover sobre las opciones del submenú */
}

/* Cambia el color de fondo de los submenús desplegados hacia la derecha */
.dropdown-menu-end {
  left: 100%;
  right: 0;
} 


.nav-link{
  display: none;
  text-decoration: none;
}

.custom-dropdown > .nav-link::after {
  display: none !important; /* Oculta la flecha indicadora */
}

a{
  text-decoration: none;
}


.h1-title {
  color: #C3460F;

}

.h2-title {
  color: #005B24;

}

p {

  font-family: 'Brandon Grotesque', sans-serif;
  text-align: justify;
  
}
.name {
  color: white;
  font-family: 'Brandon Grotesque', sans-serif
  
}

a {
  text-decoration: none;
  /* Elimina el subrayado */
  color: inherit;
  /* Mantiene el color predeterminado del texto */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el enlace */

}

.img-navbar {

  position: absolute;
  width: 90px;
  top: 0;
  left: 10%;
  z-index: 3;
  top:-35px;


}

@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas, como celulares */
  .img-navbar {
    left: 70%;
    width: 60px;
  }
}


.h2-title-header {
  color: #000000;
  font-size: 21px;

}

.a-accordion {

  color: #007e33;
  /* Cambia el color del texto */
  text-decoration: none;
  /* Elimina el subrayado por defecto */
  font-weight: bold;

}

.a-accordion:hover {

  color: #34b768;

}


.panel-dark {
  background: #2b342e;
  padding: 15px;
  height: 100%;
}

.panel-white {
  background: #fff;
  padding: 15px;
  height: 100%;
}

/*HEADER */
header.banner.red-line {
  border-top: 1rem solid #a10f2a;
}
.dropdown-menu {
  margin-left: "100%";
}

Navbar {
  position: relative;
  transition: top 0.3s;
  /* Agregar una transición para suavizar el efecto */

}

navbar .fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -2;
  background-color: #333;
  /* Ajusta el índice z según sea necesario para que el navbar aparezca encima de otros elementos */
}




.line {
  width: 100%;
  /* Ancho completo */
  height: 1px;
  /* Grosor de la línea */
  background-color: black;
  /* Color de la línea */
}

.form_container {

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: "Inter", sans-serif;
  border-top: 3px solid #005B24;
  border-bottom: 3px solid #005B24;
}

.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #005B24;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

/* for all social containers*/
.card-social {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #0015ff;
  transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #ff2c2c;
  transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

.containerFive:hover {
  background-color: #636363;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/*Card News */

.card_news {
  max-width: 400px;
  height: 550px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(205, 205, 205);
}

.card_news a {
  text-decoration: none
}

.card_news .content {
  padding: 1.1rem;
}

.card_news .image {
  object-fit: cover;
  width: 100%;
  height: 215px;
  background-color: rgb(239, 205, 255);
}

.card_news .title {
  color: #005B24;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.card_news .desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.card_news .action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #005B24;
  padding: 4px 8px;
  border-radius: 4px;
}

.card_news .action span {
  transition: .3s ease;
}

.card_news .action:hover span {
  transform: translateX(4px);
}


.card_social {

  width: 190px;
  height: 110px;
  position: relative;
  background: #f5f5f5;
  color: #252525;
  border-radius: 4px;
  overflow: hidden;
  line-height: 150%;
  box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
  transition: box-shadow .3s ease-in-out;
}

.card_social .card-info {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

/* Image */
.card_social .card-img {
  background: #FFCC28;
  background: linear-gradient(to top, #FFCC28, #C3460F);
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform .3s ease-in-out;
  z-index: 2;
}

/* Buttons */


/* Texts */
.card_social .title {
  font-size: 1.5em;
  font-weight: bold;
}

.card_social .subtitle {
  letter-spacing: 1px;
  font-size: 0.9em;
}


/* Hovers */
.card_social:hover {
  box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
}

.card_social:hover .card-img {
  transform: translateY(-5em);
}

.card_social:hover .social-media li {
  transform: translateY(-5%);
  opacity: 1;
}

.card_social:hover .social-media li:nth-child(1) {
  transition-delay: 0s;
}

.card_social:hover .social-media li:nth-child(2) {
  transition-delay: .1s;
}

.card_social:hover .social-media li:nth-child(3) {
  transition-delay: .2s;
}



/* CARD SQUARE*/

.card_square {
  --bg: #f7f7f8;
  --hover-bg: #FFE292;
  --hover-text: #C3460F;
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6, .4, 0, 1), transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card_square .card__body {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
}

.card_square> :not(span) {
  transition: .3s cubic-bezier(.6, .4, 0, 1);
}

.card_square>strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -.035em;
}

.card_square span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all .3s cubic-bezier(.6, .4, 0, 1);
}

.card_square:hover span {
  top: 0;
  font-size: 1.2em;
}

.card_square:hover {
  background: var(--hover-bg);
}

.card_square:hover>div,
.card_square:hover>strong {
  opacity: 0;
}


/*CARDS oom */
/* CARD COMPONENT */

.cardzoom {
  display: grid;
  place-items: center;
  width: 300px;
  max-width: 21.875rem;
  height: 350px;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);

}

.cardzoom img {
  margin: 10px auto;

}

.cardzoom>* {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.cardzoom .card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.cardzoom .card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2% 1.25rem 1.875rem;
  background: linear-gradient(180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%);
}

.cardzoom .card__content--container {
  --flow-space: 1.25rem;
}

.cardzoom .card__title {
  position: relative;
  width: fit-content;
  color: white;
  width: -moz-fit-content;
  /* Prefijo necesario para Firefox  */
}

.cardzoom .card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.cardzoom .card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content;
  /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.cardzoom .card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .cardzoom .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .cardzoom .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .cardzoom .card__background {
    transition: transform 500ms ease-in;
  }

  .cardzoom .card__content--container> :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .cardzoom :hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .cardzoom:hover .card__content,
  .cardzoom:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .cardzoom:focus-within .card__content {
    transition-duration: 0ms;
  }

  .cardzoom:hover .card__background,
  .cardzoom:focus-within .card__background {
    transform: scale(1.3);
  }

  .cardzoom:hover .card__content--container> :not(.card__title),
  .cardzoom:hover .card__button,
  .cardzoom:focus-within .card__content--container> :not(.card__title),
  .cardzoom:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .cardzoom:hover .card__title::after,
  .cardzoom:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}


/*CAR DOWNLOAD */
.card-download {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  margin: 0 auto;
}



.card-download .header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.card-download .image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}

.card-download .image svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}

.card-download .content {
  margin-top: 0.75rem;
  text-align: center;
}

.card-download .title {
  color: #066e29;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.card-download .message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.card-download .actions {
  margin: 0.75rem 1rem;
}

.card-download .history {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #1aa06d;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.card-download .track {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  color: #242525;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #D1D5DB;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}

/*LINEA DE TIEMPO */

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

.timeline>li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline>li:after,
.timeline>li:before {
  display: table;
  content: " ";
}

.timeline>li:after {
  clear: both;
}

.timeline>li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}

.timeline>li .timeline-image h4,
.timeline>li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4,
.timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading,
.timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}

.timeline .timeline-body>ul,
.timeline .timeline-body>p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }

  .timeline>li {
    min-height: 100px;
    margin-bottom: 100px;
  }

  .timeline>li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }

  .timeline>li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }

  .timeline>li .timeline-image h4,
  .timeline>li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline>li {
    min-height: 150px;
  }

  .timeline>li .timeline-panel {
    padding: 0 20px 20px;
  }

  .timeline>li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }

  .timeline>li .timeline-image h4,
  .timeline>li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline>li {
    min-height: 170px;
  }

  .timeline>li .timeline-panel {
    padding: 0 20px 20px 100px;
  }

  .timeline>li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }

  .timeline>li .timeline-image h4,
  .timeline>li .timeline-image .h4 {
    margin-top: 40px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 100px 20px 20px;
  }
}





/*CARD SERVICESSSS */

.card-services p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
  text-align: center;
}

.card-services p.small {
  font-size: 14px;
}

.card-services .go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #005B24;
  border-radius: 80px;
}

.card-services .go-arrow {

  color: white;
  font-family: courier, sans;
}

.card-services .card1 {
  display: block;
  position: relative;
  width: 200px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 32px 24px;
  margin: 10px auto;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card-services .card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 0;
  right: 0;
  background: #005B24;
  height: 30px;
  width: 30px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
  margin: auto;

}
/*
.card-services .card1:hover:before {
  transform: scale(21);
}

.card-services .card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card-services .card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card-services .card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card-services .card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card-services .card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card-services .card2:hover:before {
  transform: scale(2.15);
}

.card-services .card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card-services .card3 .go-corner {
  opacity: 0.7;
}

.card-services .card3:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card-services .card3:hover p {
  color: #00838d;
}

.card-services .card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card-services .card4 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card-services .card4 .go-corner {
  background-color: #005B24;
  height: 100%;
  width: 16px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: center;
}

.card-services .card4 .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.card-services .card4:hover {
  border: 1px solid #cd3d73;
}

.card-services .card4 h3 {
  margin-top: 8px;
}

.card-services .card4:hover .go-corner {
  margin-right: -12px;
}

.card-services .card4:hover .go-arrow {
  opacity: 1;
}
*/

/* CARD ABOUT   */
.card_about {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: block;
  margin: 0 auto;
}


.card_about .face {
  width: 300px;
  height: 240px;
  transition: 0.5s;
}

.card_about .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card_about:hover .face.face1 {
  background: #85380F;
  transform: translateY(0);
}

.card_about .content {
  opacity: 0.8;
  transition: 0.5s;
}

.card_about:hover .face.face1 .content {
  opacity: 1;
}

.card_about .face.face1 .content img {
  width: 100%;
  height: 100%;
  z-index: 0;

}

.card_about .face.face1 h3 {
  top: 80%;
  left: 40%;
  padding: 0;
  color: #fffffe;
  opacity: 1;
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  z-index: 2;


}

.card_about .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-150px);
}

.card_about:hover .face.face2 {
  transform: translateY(35px);
}

.card_about .face.face2 .content p {
  margin: 0;
  padding: 0;
  color: black;
}



.card_about .face .face2 .content a:hover {

  color: #fff;
}





/* Card Header */
.card-head {
  width: 100%;
  max-width: 350px;
  /* Máximo ancho de 350px */
  height: auto;
  position: relative;
  padding: 25px;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  background-color: #fff;
}

.card-head:hover {
  transform: scale(1.05);
}









/*CARDFP */

.cardfp {
  width: 190px;
  height: 120px;
  transition: all .5s;
  box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
    -15px -15px 30px rgba(60, 60, 60, 0.082);
  text-align: center;
  overflow: hidden;
}

.cardfp :hover {
  height: 260px;
  background: linear-gradient(360deg, #edededc5 60%, hsla(0, 0%, 13%, 1) 70%);
}

.cardfp .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #212121;
  margin-bottom: 16px;
}

.cardfp .header .img-box {
  width: 50px;
}

.cardfp .header .title {
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: 900;
  text-transform: uppercase;
  padding: 4px 0 14px 0;
  transition: all .5s;
  color: #edededc5;
}

.cardfp :hover .header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.cardfp :hover .cardfp .header .title {
  padding: 0;
}

.cardfp .contentfp {
  display: block;
  text-align: left;
  color: #212121;
  margin: 0 18px;
}

.cardfp .contentfp p {
  transition: all .5s;
  font-size: .8em;
  margin-bottom: 8px;
}

.cardfp .contentfp a {
  color: #1d8122;
  cursor: pointer;
  transition: all .5s;
  font-size: .7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.cardfp .contentfp .btn-link:hover {
  border-bottom: 1px solid #1d8122;
}


/* infon  */

.info {
  border-top: 3px solid #005B24;
  border-bottom: 3px solid #005B24;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.info i {
  font-size: 20px;
  color: #005B24;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.info h4 {
  padding: 0px 0 0 15px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #005B24;
}

.info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: gray;
}

.info .email p {
  padding-top: 5px;
}

.info .social-links {
  padding-left: 60px;
}

.info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.info .social-links a:hover {
  background: #005B24;
  color: #fff;
}

.info .email:hover i,
.info .address:hover i,
.info .phone:hover i {
  background: #005B24;
  color: #fff;
}

/*CardPerson */

.card-person {
  width: 350px;
  height: 300px;
  margin: auto;
  /* Margen automático en los ejes X e Y */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #fffffe;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  border: 1px solid #DEDEDE;
}

.card-person::before {
  content: "";
  width: 350px;
  height: 100px;
  position: absolute;
  top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 3px solid #fefefe;
  background: linear-gradient(40deg, #C3460F 0%, #FFCC28 100%);
  transition: all 0.3s ease;
}

.card-person * {
  z-index: 1;
}

.card-person img {
  width: 90px;
  height: 90px;
  background-color: #1468BF;
  border-radius: 50%;
  border: 4px solid #fefefe;
  margin-top: 30px;
  transition: all 0.5s ease;
}

.card-person .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.5s ease;
}

.card-person .card-info span {
  font-weight: 600;
  font-size: 24px;
  color: #161A42;
  margin-top: 15px;
  line-height: 5px;
}

.card-person .card-info p {
  color: rgba(0, 0, 0, 0.5);
}

.card-person .button {
  text-decoration: none;
  background-color: #1468BF;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.card-person:hover {
  width: 300px;
  border-radius: 250px;
}

.card-person:hover::before {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-bottom: none;
  transform: scale(0.95);
}

.card-person:hover .card-info {
  transform: translate(0%, -15%);
}

.card-person .button:hover {
  background-color: #FF6844;
  transform: scale(1.1);
}


/*FEATURE */

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  margin: auto;
  /* Centrar horizontalmente */
  text-align: center;
  /* Centrar verticalmente */
}


/*CardAtention */
.card-atention {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 590px;
  margin: 0 auto;
  /* Centro horizontalmente */
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.card-atention .div_image_v {
  background: #85380F;
  border-bottom: none;
  position: relative;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

.card-atention .dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: .3s ease;
}

.card-atention .dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}

.card-atention .card-atention .header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.card-atention .image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}

.card-atention .image svg {
  color: #066e29;
  width: 20px;
  

  /* Añade esta línea */
}

.card-atention .image {
  text-align: center;
}

.card-atention .content {
  margin-top: 0.75rem;
  text-align: center;
}

.card-atention .title {
  color: #066e29;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.card-atention .message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}


/*CARD EVENTS*/

.card-events {
  max-width: 320px;
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid rgba(243, 244, 246);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

}

.card-events .header {
  display: flex;
  justify-content: space-between;
  grid-gap: 1rem;
  gap: 1rem;
}

.card-events .title {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: rgba(17, 24, 39, 1);
  text-decoration: none;
}

.card-events .title:hover {
  text-decoration: underline royalblue;
}

.card-events .name {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: rgba(75, 85, 99, 1);
}

.card-events .image {
  display: block;
  flex-shrink: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  object-fit: cover;
  background-color: royalblue;
}

.card-events .description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(107, 114, 128, 1);
}

.card-events .post-info {
  margin-top: 1.5rem;
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
}

.card-events .cr {
  display: flex;
  flex-direction: column-reverse;
}

.card-events .dt {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgba(75, 85, 99, 1);
}

.card-events .dd {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(107, 114, 128, 1);
}


/* Modal*/
.modal-estructura .modal-dialog {
  width: 800px;
  /* Cambia el valor según tus necesidades */
  margin: 1.75rem auto;
}



.card-news{
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 6px;
  gap: 0.5rem;
  height: max-content;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.card-news:hover{

  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
}
.card-body-news{
  position: relative;
  display: flex;
  width: 100%;
  background-color: #05601F;
  border-radius: 6px;
  gap: 0.5rem;
  height: max-content;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/*CARD DATE */


.card-date {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 6px;
  gap: 0.5rem;
  height: max-content;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}


.card-date .bar {
  width: 7px;
  border-radius: 5px;
  background-color: #25de59;

}

.card-date .card:hover .bar {
  margin-right: 5px;
}

.card-date .card_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-date .card_data span {
  color: #9147ff;
  margin-top: auto;
  font-size: 0.9em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.card-date .card_data span:hover {
  color: #28aea5;
  text-decoration: underline;
}

.card-date .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.5em;
  color: rgb(0, 0, 0);
}

.card-date .text_m {
  font-size: 0.9em;
}

.card-date .text_s {
  color: #9147ff;
  font-size: 0.6em;
}


.card-date .card:hover .cube {
  transform: rotateX(90deg);
}

.card-date .side {
  width: max-content;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.card-date .top {
  transform: rotateX(-90deg) translate3d(0, 0, 0em);
}

.card-date .front {
  transform: translate3d(0, 0, 1em);
}


/*SPOTIFY*/

.main {
  background-color: #05601f;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 2px;
  z-index: 2;

}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: lightgray;
}

.a-news {
  font-weight: bold ;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.a-news:hover {
  text-decoration: underline;
}

.a-events{
  
    color: rgb(0, 0, 0);
    text-decoration: none;
  
}
.a-events:hover {
  text-decoration: underline;
}

.currentplaying {
  display: flex;
  margin: 1em;
}


.heading {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: rgb(255, 255, 255);
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
  justify-self: center;
}

.albumcover {
  position: relative;
  margin-right: 1em;
  width: 15%;
  transform: rotate(180deg);
  
  align-self: center;
  border-radius: 5px;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 0.2em;
  }

  25% {
    height: 0.7em;
  }

  50% {
    height: 1.5em;
  }

  100% {
    height: 0.2em;
  }
}

/* triangular section*/

.triangular-section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.triangular-section p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}



/* carta conexion panelera*/

.carta {
  background-color: #fff;
  /* Color de fondo de la carta */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  /* Sombreado */
  margin-bottom: 1rem;
  /* Margen inferior para separar de otros elementos */
  width: 90%;
}


/*img head*/

.img-head {
  width: 80%; /* Tamaño inicial */
  display: block;
  margin: auto;
  animation: grow-shrink 2s infinite alternate; /* Aplica la animación */
}

@keyframes grow-shrink {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.1); /* Escala al 110% a la mitad de la animación */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original al final de la animación */
  }
}

@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas, como celulares */
  .img-navbar {
    left: 70%;
    width: 84px;
  }

  
}



.service-item {
  transition: .5s;
}

.service-item:hover {
  box-shadow: 0 0 30px #CCCCCC;
}

.service-item i {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 204, 40);
  background: #FFFFFF;
  color: rgb(255, 204, 40);
  transition: .5s;
}

.service-item:hover i {
  background: rgb(255, 204, 40);
  color: #FFFFFF;
}

@import "~react-image-gallery/styles/css/image-gallery.css";



.img-container {
  position: relative;

  overflow: hidden;
}

.img-container:hover img {
  transform: translateY(-10px); /* ajusta la distancia del salto */
  transition: transform 0.3s ease; /* controla la velocidad y el efecto de la transición */
}

.rounded-white-bg {
  background-color: #fff; /* color de fondo gris */
  border-radius: 5px; /* esquinas redondeadas */
  padding: 10px 15px; /* espaciado interno */

}
.rounded-gray-bg {
  background-color: #2b342e; /* color de fondo gris */
  border-radius: 5px; /* esquinas redondeadas */
  padding: 10px 15px; /* espaciado interno */

}
.rounded-green-bg {
  background-color: #05601f; /* color de fondo gris */
  border-radius: 5px; /* esquinas redondeadas */
  padding: 10px 15px; /* espaciado interno */

}
.rounded-green2-bg {
  background-color: #448958; /* color de fondo gris */
  border-radius: 5px; /* esquinas redondeadas */
  padding: 10px 15px; /* espaciado interno */

}

.blur-background::before {
  content: '';
  background: inherit;
  filter: blur(2px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}


.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text {
  display: inline-block;
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}



/*Button News */

button {
  cursor: pointer;
  font-weight: 700;
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #05601f;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  color:#fff;
  border-radius: 50px; 
  
  
}

button:hover {
  background: #3f5e48;
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}

.image-container {
  overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
  transition: transform 0.3s ease; /* Transición suave de 0.3 segundos con función de temporización 'ease' */
  display: flex; /* Usar flexbox para centrar la imagen */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.image-container:hover img {
  transform: scale(1.1); /* Escala la imagen al 110% al pasar el cursor por encima */
}


